@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Facturacion COVID19</h1>
    <p class="lead">Bienvenido al sistema de facturacion COVID19</p>
    <p><a href="https://es.wikipedia.org/wiki/COVID-19" class="btn btn-primary btn-lg">Sepa lo que es el COVID19 &raquo;</a></p>
</div>
